{%extends 'blog/base.html'%}
{% load static %}
{% block title %}
Asrar's blog
{% endblock %}

{% block content %}

<style>
  

img{height:280px;
width: 1164px;

}
.container{font-size: 50px;}

</style>


<nav class="fixed-top"  class="navbar navbar-light" style="background-color: #822d7f8b; " >
    <ul class="nav justify-content-center " >
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/" style=" color: #ffffff;">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" href="new/posts" style=" color: #ffffff;">Publish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="latest/blogs" style=" color: #ffffff;">All Blogs</a>
        </li>

      </ul>
  
    </nav>



<!--  <div class="fluid">
    <img  src="{%static 'images\tech.png'%}" alt="" width="72" height="57">
</div> -->

<div class="container " style="margin: 50px; padding: 50px ; color:#822d7f8b  ">
<p>Welcome </p>
</div>
{% endblock %}