<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title> blog</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">




</head>
  
    
    <div class="container-fluid p-3">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4"> Welcome to the Blog </span>

            </a>
      
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a></li>
              <li class="nav-item"><a href="{% url 'Blog:add_new_blog' %}" class="nav-link">New blog</a></li>
              <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Who am I?</a></li>

              <li class="nav-item"><a href="{% url 'Blog:latest_blog_page' %}" class="nav-link">Date</a></li>
            </ul>
        
                <div class="container">
                    <div class= "row mt-4">

                        <div class="card text-bg-Secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header"> 
                                
                            </div>
                            <div class="card text-bg-Secondary  mb-3" style="max-width: 18rem;">
                              <div class="card-header"> The blog </div>
                              <div class="card-body">
                             
                            </div>
                          </div>
                          <div class="card text-bg-Secondary  mb-3" style="max-width: 18rem;">
                            <div class="card-header"> The last blog </div>
                            <div class="card-body">
                        
                            <ul>
                                <li><a href="#">First post</a>
                                </li>
                                <li><a href="#">second post</a>
                                </li>
                                <li><a href="#">thierd post</a>
                                </li>
                                <li><a href="#">Fourth post</a>
                                </li>
                                <li><a href="#">Fifth Blog</a>
                                </li>
                            </ul>
                    </div>
                </div> 

    

        </header>
       
    </div>

    
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>