{% extends 'main/base.html' %}


{% block content %}
<dev class="container">

    <h1>Add New Blog :</h1>

    <form action="" method="POST">
        {% csrf_token %}

    <label class="form-label"><strong>Title</strong></label>
    <input type="text" name="Title" class="form-control" />

    <label class="form-label"><strong>Content</strong></label>
    <textarea class="form-control" name="Content"></textarea>

    <select name="is_published" class="form-select" aria-label="Default select example">
        <option selected><strong>Open this select menu</strong></option>
        <option value="True">yes</option>
        <option value="False">No</option>
    </select>

        
        <label class="form-label"><strong>publish_date</strong></label>
        <input type="datetime-local" name="publish_date"  />  
        <br>  
        <input type="submit" class="btn btn-primary" value="ADD BLOG" />

    </form>




</div>
{% endblock %}