{% extends 'main/base.html' %}

{% block title %} add Blog {% endblock %}

 {% block content %}
  <div class="container">
        <h2>Add Blog </h2>
        
        <form action="" method="POST">
            {% csrf_token %}

          <div>
              <label>title</lab0el>
              <input type="text" class="form-control" name="title"/>
          </div>
          <label>Content</label>
          <textarea name="content" class="form-control"></textarea>
            
          <label>Is is_published</label>
          <select name="is_published" class="form-control">
              <option value="True">Yes</option>
              <option value="false">No</option>
          </select>

          <input type="submit" class="btn btn-primary" value="Create Post" />

            
        </form>
   </div>
  {% endblock %}
